/* App.css */
body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f4f7f6;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0088cc;
  padding: 10px;
  color: white;
}

.recipient-name {
  font-size: 20px;
  font-weight: bold;
}

.clear-button {
  background-color: white;
  border: none;
  color: #0088cc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 15px;
  max-width: 70%;
  word-wrap: break-word;
  animation: fadeIn 0.3s ease-out;
}

.self {
  align-self: flex-end;
  background-color: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
}

.other {
  align-self: flex-start;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
}

.message-text {
  position: relative;
}

.liked {
  position: absolute;
  bottom: -5px;
  right: -20px;
  font-size: 16px;
  color: red;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
}

.input {
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #006699;
}

/* App.css */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input {
  width: 100%;
  max-width: 300px; /* Максимальна ширина для поля введення */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px; /* Додано відступ для кращого вигляду */
}

.button {
  width: 100%;
  max-width: 300px; /* Максимальна ширина для кнопки */
  padding: 10px 15px;
  margin-left: 0;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #006699;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
